<app-loading *ngIf="loading"></app-loading>

<div *ngIf="errorChargement" class="alert alert-danger animated fadeIn">
    <h3>{{msgError}}</h3>
    <p>
        quelque chose se produit pendant le chargement
        nous sommes dsl.
        {{msgError}}
    </p>
</div>

<app-cards [ListItems]="ListnewsMusic" ></app-cards>