<app-loading *ngIf="loadingArtist"></app-loading>

<div class="row animated fadeIn" *ngIf="!loadingArtist">
  <div class="col-2">
    <img [src]="artiste.images | noImage" class="img-thumbnail img-circle">
  </div>
  <div class="col">
    <h3>{{artiste.name}}</h3>
    <p>
      <a [href]="artiste.external_urls.spotify" target="_blank">
        Page de l'artiste
      </a>
    </p>
  </div>
  <div class="col-4 text-right">
    <button routerLink="/search" class="btn btn-outline-danger">
      Retour
    </button>
  </div>
</div>



<div class="row m-5">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>Photo</th>
          <th>Album</th>
          <th>morceaux</th>
          <th>preview</th>
        </tr>
      </thead>
<tbody>
  <tr *ngFor="let item of ListTracks">
    <td><img [src]="item.album.images | noImage" class="img-thumb"></td>
    <td>{{item.album.name}}</td>
    <td>{{item.name}}</td>
    <td>
      <!-- <audio [src]="item.preview_url" controls></audio> -->
      <iframe [src]="item.uri | domSecure" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </td>
  </tr>
</tbody>

    </table>
  </div>
</div>