<div class="row">
  <div class="col">
    <input #motSearch type="text" (keyup)="searchArtist(motSearch.value)" class="form-control" placeholder="search Artist">
  </div>
</div>

<hr>

<app-loading *ngIf="loading"></app-loading>
<app-cards *ngIf="!loading" [ListItems]="artistes" ></app-cards>