<div class="card-columns m-5 animated fadeIn">
    <div (click)="showArtist(item)" class="card puntero" *ngFor="let item of ListItems">
      <img class="card-img-top" [src]="item.images | noImage" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">
            <span *ngFor="let artist of item.artists" class="badge badge-pill badge-primary">
              {{artist.name}}
            </span>
          </p>
      </div>
    </div>
</div>